/* You can add global styles to this file, and also import other style files */

body {
    background-color: ivory;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;    
    background-color: rgb(233, 225, 151);
} */

th, td {
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;    
    padding-left: 20px;    
}

td:hover, th:hover { background-color: blue;}

.col_quarter {
    float: left;
    width: 25%;    
}

.col_third {
    float: left;
    width: 33%;
}

.col_half {
    float: left;
    width: 50%;    
}

.col_threequarter {
    float: left;
    width: 75%;
}

.col_border {
    border: 1px solid black;
}

@media (max-width: 600px) {
    .col_half, .col_third {
        width: 100%;
        height: auto;
    }
    .col_quarter {
        width: 50%;
        height: auto;
    }
}



.header {
    background-color: rgb(67, 182, 32);
}

.charsheet {
    color: black;
}

.playernameetc {
    color: black;
}

.charstats {
    color: black;
}

.charinv {
    color: black;
}

.charmisc {
    color: black;
}

.dicethrower {
    color: green
}



/*
body {
    background-color: yellow;
}
.myclass {
    background-color: white;
}
#myid {
    background-color: black;
}
.myclass h1 {
    color: gray;
    text-align: center;
}
.myclass p {
    color: black;
}
#myid h1 {
    color: yellow;
    text-align: center;
}
#myid p {
    color: white;
}
*/