You can add global styles to this file, and also import other style files */


/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;    
    background-color: rgb(233, 225, 151);
} */

th, td {
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;    
    padding-left: 20px;  
      
}

td:hover, th:hover { background-color: blue;}

.browsebutt {
    font-size: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
}


/*
body {
    background-color: yellow;
}
.myclass {
    background-color: white;
}
#myid {
    background-color: black;
}
.myclass h1 {
    color: gray;
    text-align: center;
}
.myclass p {
    color: black;
}
#myid h1 {
    color: yellow;
    text-align: center;
}
#myid p {
    color: white;
}
