/* You can add global styles to this file, and also import other style files */
body {
    background-color: ivory;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-style: groove;
}

th {
    text-align: left;
}

.header {
    background-color: blue;
}
