<div class="header">
  This is a header
</div>
<h2>Character Sheet</h2>
<form #charSheetForm="ngForm" (ngSubmit)="onSubmit(charSheetForm)">
<div class="container grid">
    <div class="charinfo gridA">
      <div class="">
        <label for="charname"> Character Name: </label>
        <input type="text" name="charname" [(ngModel)]="charform.charname">
      </div>
      <div class="">
        <label for="charworld"> World Name: </label>
        <input type="text" name="charworld" [(ngModel)]="charform.charworld">
      </div>
      <div>
        <label for="charstory"> Story: </label>
        <input type="text" name="charstory" [(ngModel)]="charform.charstory">
      </div>
      <div>
        <label for="charlifeform"> Life Form: </label>
        <input type="text" name="charlifeform" [(ngModel)]="charform.charlifeform">
      </div>
      <div>
        <label for="chartype"> Type: </label>
        <input type="text" name="chartype" [(ngModel)]="charform.chartype">
      </div>
    </div>
    <div ngModelGroup="charstats" class="charstats gridB">
      <h2>Stats</h2>    
      <div class="input-number">
        <h3>Strength</h3>
        Total: <span class="strtotal">{{charform.charstats.strbase + charform.charstats.strlife + charform.charstats.strability + charform.charstats.strloot}}</span><br>
        <label for="strbase">Base: </label>
        <input type="number" min="-6" max="6" size="2" name="strbase" [(ngModel)]="charform.charstats.strbase"><br>
        <label for="strlife">Life Form: </label>
        <input type="number" min="-6" max="6" size="2" name="strlife" [(ngModel)]="charform.charstats.strlife"><br>
        <label for="strability">Ability: </label>
        <input type="number" min="-6" max="6" size="2" name="strability" [(ngModel)]="charform.charstats.strability"><br>
        <label for="strloot">Loot: </label>
        <input type="number" min="-6" max="6" size="2" name="strloot" [(ngModel)]="charform.charstats.strloot"><br>
      </div>
      <div>
        <h3>Dexterity</h3>
        Total: <span class="dextotal">{{charform.charstats.dexbase + charform.charstats.dexlife + charform.charstats.dexability + charform.charstats.dexloot}}</span><br>
        <label for="dexbase">Base: </label>
          <input type="number" min="-6" max="6" size="2" name="dexbase" [(ngModel)]="charform.charstats.dexbase"><br>
        <label for="dexlife">Life Form: </label>
          <input type="number" min="-6" max="6" size="2" name="dexlife" [(ngModel)]="charform.charstats.dexlife"><br>
        <label for="dexability">Ability: </label>
          <input type="number" min="-6" max="6" size="2" name="dexability" [(ngModel)]="charform.charstats.dexability"><br>
        <label for="dexloot">Loot: </label>
          <input type="number" min="-6" max="6" size="2" name="dexloot" [(ngModel)]="charform.charstats.dexloot"><br>
      </div>
      <div>
        <h3>Constitution</h3>
        Total: <span class="constotal">{{charform.charstats.conbase + charform.charstats.conlife + charform.charstats.conability + charform.charstats.conloot}}</span><br>
        <label for="conbase">Base: <input type="number" min="-6" max="6" size="2" name="conbase" [(ngModel)]="charform.charstats.conbase"></label><br>
        <label for="conlife">Life Form: <input type="number" min="-6" max="6" size="2" name="conlife" [(ngModel)]="charform.charstats.conlife"></label><br>
        <label for="conability">Ability: <input type="number" min="-6" max="6" size="2" name="conability" [(ngModel)]="charform.charstats.conability"></label><br>
        <label for="conloot">Loot: <input type="number" min="-6" max="6" size="2" name="conloot" [(ngModel)]="charform.charstats.conloot"></label><br>      
      </div>
      <div>
        <h3>Intelligence</h3>
        Total: <span class="inttotal">{{charform.charstats.intbase + charform.charstats.intlife + charform.charstats.intability + charform.charstats.intloot}}</span><br>
        <label for="intbase">Base: <input type="number" min="-6" max="6" size="2" name="intbase" [(ngModel)]="charform.charstats.intbase"></label><br>
        <label for="intlife">Life Form: <input type="number" min="-6" max="6" size="2" name="intlife" [(ngModel)]="charform.charstats.intlife"></label><br>
        <label for="intability">Ability: <input type="number" min="-6" max="6" size="2" name="intability" [(ngModel)]="charform.charstats.intability"></label><br>
        <label for="intloot">Loot: <input type="number" min="-6" max="6" size="2" name="intloot" [(ngModel)]="charform.charstats.intloot"></label><br>      
      </div>
      <div>
        <h3>Wisdom</h3>
        Total: <span class="wistotal">{{charform.charstats.wisbase + charform.charstats.wislife + charform.charstats.wisability + charform.charstats.wisloot}}</span><br>
        <label for="wisbase">Base: <input type="number" min="-6" max="6" size="2" name="wisbase" [(ngModel)]="charform.charstats.wisbase"></label><br>
        <label for="wislife">Life Form: <input type="number" min="-6" max="6" size="2" name="wislife" [(ngModel)]="charform.charstats.wislife"></label><br>
        <label for="wisability">Ability: <input type="number" min="-6" max="6" size="2" name="wisability" [(ngModel)]="charform.charstats.wisability"></label><br>
        <label for="wisloot">Loot: <input type="number" min="-6" max="6" size="2" name="wisloot" [(ngModel)]="charform.charstats.wisloot"></label><br>      
      </div>
      <div>
        <h3>Charisma</h3>
        Total: <span class="chatotal">{{charform.charstats.chabase + charform.charstats.chalife + charform.charstats.chaability + charform.charstats.chaloot}}</span><br>
        <label for="chabase">Base: <input type="number" min="-6" max="6" size="2" name="chabase" [(ngModel)]="charform.charstats.chabase"></label><br>
        <label for="chalife">Life Form: <input type="number" min="-6" max="6" size="2" name="chalife" [(ngModel)]="charform.charstats.chalife"></label><br>
        <label for="chaability">Ability: <input type="number" min="-6" max="6" size="2" name="chaability" [(ngModel)]="charform.charstats.chaability"></label><br>
        <label for="chaloot">Loot: <input type="number" min="-6" max="6" size="2" name="chaloot" [(ngModel)]="charform.charstats.chaloot"></label><br>      
      </div>
    </div>
    <div ngModelGroup="charefforts" class="chareff gridC">
      <h2>Effort</h2>
      <div>
        <h3>Basic</h3>
        Total: <span class="basictotal">{{charform.charefforts.basicbase + charform.charefforts.basiclife + charform.charefforts.basicability + charform.charefforts.basicloot}}</span><br>
        <label for="basicbase">Base: <input type="number" min="-6" max="6" size="2" name="basicbase" [(ngModel)]="charform.charefforts.basicbase"></label><br>
        <label for="basiclife">Life Form: <input type="number" min="-6" max="6" size="2" name="basiclife" [(ngModel)]="charform.charefforts.basiclife"></label><br>
        <label for="basicability">Ability: <input type="number" min="-6" max="6" size="2" name="basicability" [(ngModel)]="charform.charefforts.basicability"></label><br>
        <label for="basicloot">Loot: <input type="number" min="-6" max="6" size="2" name="basicloot" [(ngModel)]="charform.charefforts.basicloot"></label><br>      
      </div>
      <div>
        <h3>Weapons & Tools</h3>
        Total: <span class="tooltotal">{{charform.charefforts.toolbase + charform.charefforts.toollife + charform.charefforts.toolability + charform.charefforts.toolloot}}</span><br>
        <label for="tootbase">Base: <input type="number" min="-6" max="6" size="2" name="toolbase" [(ngModel)]="charform.charefforts.toolbase"></label><br>
        <label for="toollife">Life Form: <input type="number" min="-6" max="6" size="2" name="toollife" [(ngModel)]="charform.charefforts.toollife"></label><br>
        <label for="tollability">Ability: <input type="number" min="-6" max="6" size="2" name="toolability" [(ngModel)]="charform.charefforts.toolability"></label><br>
        <label for="tolloot">Loot: <input type="number" min="-6" max="6" size="2" name="toolloot" [(ngModel)]="charform.charefforts.toolloot"></label><br>      
      </div>
      <div>
        <h3>Guns</h3>
        Total: <span class="guntotal">{{charform.charefforts.gunbase + charform.charefforts.gunlife + charform.charefforts.gunability + charform.charefforts.gunloot}}</span><br>
        <label for="gunbase">Base: <input type="number" min="-6" max="6" size="2" name="gunbase" [(ngModel)]="charform.charefforts.gunbase"></label><br>
        <label for="gunlife">Life Form: <input type="number" min="-6" max="6" size="2" name="gunlife" [(ngModel)]="charform.charefforts.gunlife"></label><br>
        <label for="gunability">Ability: <input type="number" min="-6" max="6" size="2" name="gunability" [(ngModel)]="charform.charefforts.gunability"></label><br>
        <label for="gunloot">Loot: <input type="number" min="-6" max="6" size="2" name="gunloot" [(ngModel)]="charform.charefforts.gunloot"></label><br>      
      </div>
      <div>
        <h3>Energy & Magic</h3>
        Total: <span class="magictotal">{{charform.charefforts.magicbase + charform.charefforts.magiclife + charform.charefforts.magicability + charform.charefforts.magicloot}}</span><br>
        <label for="magicbase">Base: <input type="number" min="-6" max="6" size="2" name="magicbase" [(ngModel)]="charform.charefforts.magicbase"></label><br>
        <label for="magiclife">Life Form: <input type="number" min="-6" max="6" size="2" name="magiclife" [(ngModel)]="charform.charefforts.magiclife"></label><br>
        <label for="magicability">Ability: <input type="number" min="-6" max="6" size="2" name="magicability" [(ngModel)]="charform.charefforts.magicability"></label><br>
        <label for="magicloot">Loot: <input type="number" min="-6" max="6" size="2" name="magicloot" [(ngModel)]="charform.charefforts.magicloot"></label><br>      
      </div>
      <div>
        <h3>Ultimate</h3>
        Total: <span class="ultitotal">{{charform.charefforts.ultibase + charform.charefforts.ultilife + charform.charefforts.ultiability + charform.charefforts.ultiloot}}</span><br>
        <label for="ultibase">Base: <input type="number" min="-6" max="6" size="2" name="ultibase" [(ngModel)]="charform.charefforts.ultibase"></label><br>
        <label for="ultilife">Life Form: <input type="number" min="-6" max="6" size="2" name="ultilife" [(ngModel)]="charform.charefforts.ultilife"></label><br>
        <label for="ultiability">Ability: <input type="number" min="-6" max="6" size="2" name="ultiability" [(ngModel)]="charform.charefforts.ultiability"></label><br>
        <label for="ultiloot">Loot: <input type="number" min="-6" max="6" size="2" name="ultiloot" [(ngModel)]="charform.charefforts.ultiloot"></label><br>      
      </div>
    </div>
    <div class="charstatus gridD">
      <h2>Status</h2>    
      <div>
        <label for="charhp"> HP: </label>
        <input type="number" name="charhp" [(ngModel)]="charform.charhp">
      </div>
      <div>
        <label for="chardef"> Defense: </label>
        <input type="number" name="chardef" [(ngModel)]="charform.chardef">
      </div>
      <div>
        <label for="chargold"> Gold: </label>
        <input type="number" name="chargold" [(ngModel)]="charform.chargold">
      </div>
      <div>
        <label for="chardeath"> Death Timer: </label>
        <input type="number" name="chardeath" [(ngModel)]="charform.chardeath">
      </div>
      <div>
        <label for="charhero"> Hero Coin: </label>
        <input type="checkbox" name="charhero" [(ngModel)]="charform.charhero">
      </div>
    </div>
    <div ngModelGroup="charequipment" class="charinv gridE">
      <h2>Equipment</h2>
      Name - Description <span style="float:right;text-align:right;margin-left: 80px;">Equipped?</span>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip01" [(ngModel)]="charform.charequipment.equip01">
        <input type="checkbox" name="isequip01" [(ngModel)]="charform.charequipment.isequip01">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip02" [(ngModel)]="charform.charequipment.equip02">
        <input type="checkbox" name="isequip02" [(ngModel)]="charform.charequipment.isequip02">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip03" [(ngModel)]="charform.charequipment.equip03">
        <input type="checkbox" name="isequip03" [(ngModel)]="charform.charequipment.isequip03">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip04" [(ngModel)]="charform.charequipment.equip04">
        <input type="checkbox" name="isequip04" [(ngModel)]="charform.charequipment.isequip04">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip05" [(ngModel)]="charform.charequipment.equip05">
        <input type="checkbox" name="isequip05" [(ngModel)]="charform.charequipment.isequip05">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip06" [(ngModel)]="charform.charequipment.equip06">
        <input type="checkbox" name="isequip06" [(ngModel)]="charform.charequipment.isequip06">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip07" [(ngModel)]="charform.charequipment.equip07">
        <input type="checkbox" name="isequip07" [(ngModel)]="charform.charequipment.isequip07">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip08" [(ngModel)]="charform.charequipment.equip08">
        <input type="checkbox" name="isequip08" [(ngModel)]="charform.charequipment.isequip08">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip09" [(ngModel)]="charform.charequipment.equip09">
        <input type="checkbox" name="isequip09" [(ngModel)]="charform.charequipment.isequip09">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip10" [(ngModel)]="charform.charequipment.equip10">
        <input type="checkbox" name="isequip10" [(ngModel)]="charform.charequipment.isequip10">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip11" [(ngModel)]="charform.charequipment.equip11">
        <input type="checkbox" name="isequip11" [(ngModel)]="charform.charequipment.isequip11">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip12" [(ngModel)]="charform.charequipment.equip12">
        <input type="checkbox" name="isequip12" [(ngModel)]="charform.charequipment.isequip12">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip13" [(ngModel)]="charform.charequipment.equip13">
        <input type="checkbox" name="isequip13" [(ngModel)]="charform.charequipment.isequip13">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip14" [(ngModel)]="charform.charequipment.equip14">
        <input type="checkbox" name="isequip14" [(ngModel)]="charform.charequipment.isequip14">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip15" [(ngModel)]="charform.charequipment.equip15">
        <input type="checkbox" name="isequip15" [(ngModel)]="charform.charequipment.isequip15">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip16" [(ngModel)]="charform.charequipment.equip16">
        <input type="checkbox" name="isequip16" [(ngModel)]="charform.charequipment.isequip16">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip17" [(ngModel)]="charform.charequipment.equip17">
        <input type="checkbox" name="isequip17" [(ngModel)]="charform.charequipment.isequip17">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip18" [(ngModel)]="charform.charequipment.equip18">
        <input type="checkbox" name="isequip18" [(ngModel)]="charform.charequipment.isequip18">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip19" [(ngModel)]="charform.charequipment.equip19">
        <input type="checkbox" name="isequip19" [(ngModel)]="charform.charequipment.isequip19">
      </div>
      <div>
        <input type="text" style="width:clamp(30ch,90%,150ch);" name="equip20" [(ngModel)]="charform.charequipment.equip20">
        <input type="checkbox" name="isequip20" [(ngModel)]="charform.charequipment.isequip20">
      </div>
    </div>
    <div ngModelGroup="charabilities" class="charability gridF">
      <h2>Abilities/Powers/Augments</h2>
      Name - Description
      <div>
        <!-- <input type="text" style="width:clamp(30ch,90%,150ch);" name="ability01" [(ngModel)]="charform.charabilities.ability01">       -->
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability01"></textarea>
      </div>
      <div>
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability02"></textarea>
      </div>
      <div>
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability03"></textarea>
      </div>
      <div>
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability04"></textarea>
      </div>
      <div>
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability05"></textarea>
      </div>
      <div>
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability06"></textarea>
      </div>
      <div>
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability07"></textarea>
      </div>
      <div>
        <textarea style="width:clamp(30ch,95%,150ch);" name="ability01" rows="2" [(ngModel)]="charform.charabilities.ability08"></textarea>
      </div>      
    </div>
    <div class="charmastery gridG">
      Mastery
      <p><button type="button" (click)="reset(charSheetForm)">Reset</button></p>
      <p><button type="submit">Submit</button></p>
    </div>   
  </div>
</form>  
{{charSheetForm.value | json}}