<div class="rawdata bloo">
  <pre>
  Character Sheet
  Character (Name, World Name, Story, Life Form, Type)
  Character Name
  World Name
  Story
  Life Form/Species/Race
  Type/Specialization/Class
  
  Status (HP, Defense (Con, Loot), Hero Coin, Death Timer)
  HP
  Defense
  Gold
  Hero Coin
  Room Difficulty
  Death Timer

  Stats (Name, Base, Life Form, Type , Loot, Total)
  Strength
  Dexterity
  Constitution
  Intelligence
  Wisdom
  Charisma
      
  Effort (Name, Base, Life Form, Type, Loot, Total)
  Basic
  Weapon
  Magic
  Ultimate

  Equipped * 10 (Name, Description, Interaction)
  Carried * 10 (Name, Description, Interaction)

  Abilities * 6 (Name, Description, Interaction)
  Powers * 4 (Name, Description, Interaction)
  Augments * x (Name, Description, Interaction)

  Mastery

  </pre>
</div>
<div class="header">
  This is the header
<br><br><br><br>
</div>
<div class="container charsheet">
  <div class="charinfo">
    <label for="charname">Name: </label><input class="width20pc" id="charname" type="text">
    <label for="charworld">World: </label><input class="width20pc" id="charworld" type="text">
    <label for="charlifeform">Life Form: </label><input class="width20pc" id="charlifeform" type="text">
    <label for="chartype">Type: </label><input class="width20pc" id="chartype" type="text">
  </div>
  <div class="flexbreak"></div>
  <div class="charinfo">
    <label for="charstory">Story: </label><input class="width70pc" id="charstory" type="text">
  </div>
  <div class="flexbreak"></div>

  <div class="colflow">
    <div class="charstats">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;">STR</h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="charstats">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="charstats">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="charstats">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="charstats">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="charstats">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="colflow">
    <div class="chareff">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="chareff">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="chareff">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="chareff">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
    <div class="chareff">
      <table>
        <tr>
          <td><h1 style="font-size:4rem" style="padding:0px; margin:0px;"><b>STR</b></h1></td>
          <td><img src="../../assets/images/D20.png" alt="D20" width="65" height="65"></td>
          <td>
            <tr><input type="number" name="base" id="strbase" size="2">Base</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Life Form</tr>            
            <tr><input type="number" name="base" id="strbase" size="2">Loot</tr>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="colflow" style="flex-grow: 1;">
    <div class="charstatus" style="height:300px; border: 1px solid black">Insert Picture</div>
    <div class="charstatus" style="height:80px; border: 1px solid black">Hearts</div>
    <div class="charstatus">
      <table>
        <tr>
          <th>Defense</th>
          <th>Hero Coin</th>
          <th>Dying</th>
        </tr>
        <tr>
          <td style="text-align:center;"><input type="number" name="" id="" size="2"></td>
          <td style="text-align:center;"><input type="number" name="" id="" size="2"></td>
          <td style="text-align:center;"><input type="number" name="" id="" size="2"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="flexbreak"></div>

  <div class="charinventory">
    <table style="border: 1px solid black; margin: 0; padding: 0;">
      <tr>
        <th style="background-color: black;color: white;font-size: 2rem;">LOOT</th>
        <th style="vertical-align:top;">
          Equipped  Carried<br>&nbsp;Max 10 &nbsp;&nbsp;Max 10
        </th>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="carry1" id=""><input type="radio" name="carry1" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="carry2" id=""><input type="radio" name="carry2" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>
      <tr>
        <td><input type="text" name="" id=""></td>
        <td><input type="radio" name="" id=""><input type="radio" name="" id=""></td>
      </tr>      
    </table>
  </div>
  
  <div class="charability">
    <table>
      <tr><th>ABILITIES</th></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td>POWERS</td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td>AUGMENTS</td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
      <tr><td><input type="text" name="" id=""></td></tr>
    </table>
  </div>

  <div class="flexbreak"></div>
  <div class="charmastery">Bottom bar</div>
</div>
<br><br><br><br>
<div>
  this is a test
</div>