*,
*::before,
*::after {
    box-sizing: content-box;
}

.header {
    background-color: yellow;
}
.container {
    text-align: left;
}

.grid {
    display:block;
}

.charsheet {
    background-color: ivory;    
}

.charinfo {
    background-color: gold;    
}
.charstats {
    background-color: yellow;
}
.chareff {
    background-color: orange;
}
.charstatus {
    background-color:red;
}
.charinv {
    background-color:rgb(86, 152, 228);
}
.charability {
    background-color:lime;
}
.charmastery {
    background-color:green;
}


.totaldie {
    font-size: 50px;
}

.gridA {grid-area:A; border: 1px solid; padding: .5em}
.gridB {grid-area:B; border: 1px solid; padding: .5em}
.gridC {grid-area:C; border: 1px solid; padding: .5em}
.gridD {grid-area:D; border: 1px solid; padding: .5em}
.gridE {grid-area:E; border: 1px solid; padding: .5em}
.gridF {grid-area:F; border: 1px solid; padding: .5em}
.gridG {grid-area:G; border: 1px solid; padding: .5em}

@media (min-width: 705px) {
    .grid {
        display:grid;
        grid-template-areas: 
            "A A A A"
            "B B C C"
            "E E F F"
            "E E D D"
            "G G G G";
        // grid-template-columns: 1fr 1fr 1fr;
    }
}

    
@media (min-width: 60em) {
    .grid {
        display:grid;
        grid-template-areas: 
            "A A A A A A"
            "B B C C D D"
            "E E E F F F"
            "G G G G G G";
        // grid-template-columns: 1fr 1fr 1fr;
    }
}